<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Stable Diffusion AI Image Generator | NeverSFW.gg</title>
    <meta name="description" content="Generate free image w/ NeverGen AI Image Generator! multiple models, loras, img2img, inpainting, controlnet, openpose & more!">
    <meta name="keywords" content="nsfw, Porn, Hentai, rule34, r34, ai, image, image generator, dalle-3, stable diffusion, web-ui, sonic diffusion, mobians ai, realistic ai, hentai ai, anime ai, furry ai, sfw, safe for work, sfw ai, safe for work ai, sfw image generator, safe for work image generator, sfw ai image generator, steps, image to image, image 2 image, img2img, loras, seed, cfg, image quantity, resolution, aspect ratio, model, prompt, negative prompt, style lora, effect lora, concept lora, clothing lora, character lora, pose lora, steps, cfg, quantity, seed, img2img controls, inpainting, controlnet, openpose">
    <meta name="author" content="JSCammie">
    <meta name="juicyads-site-verification" content="da00b2314e338e83450b5bf9040a1fa6">
    
    <link rel="stylesheet" href="../betasite.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=TAG_ID"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-FFEW0Y6QFQ');
    </script>

</head>
<body>

    <%- include('../partials/_floatAdvert'); -%>

    <div class="page-sidebar">
        <!-- Side Navigation Partial -->
        <%- include('../partials/_sideNav'); -%>
    </div>

    <div class="page-left" style="margin-top: 22rem;">
        <!-- Tower Advert Partial -->
        <%- include('../partials/_towerAdvert'); -%>
    </div>

    <div class="page-right">
        <div class="center-content">
                    
            <img src="https://www.neversfw.gg/nsfwlogobanner.png" class="neversfw-banner">
            <br>
            <br>
                <%- include('../partials/_bannerAdvert'); -%>
            
            <br><br>
            <%- include('../partials/_mobileNavigation'); -%>
            <!-- Banner Advert Partial -->
        </div>
        
        <div class="round-frosted" style="padding: 40px; justify-content: center;">

            <h1>The AI Image Generator has moved to:</h1>
            <a href="https://www.jscammie.com" style="font-size: xx-large;">JSCammie.com !</a>


        </div>


        <div style="height: 20rem;"></div>

        <!-- Footer Partial -->
        <%- include('../partials/_footerNew'); -%>
        
    </div>

</body>
</html>
