<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Image Generator | NeverSFW.gg</title>
    <meta name="description" content="A hub for NSFW Images, Videos & Games!">
    <meta name="keywords" content="nsfw, Porn, Hentai, rule34, r34, ai, image, image generator, dalle-3, stable diffusion, web-ui, sonic diffusion, mobians ai, realistic ai, hentai ai">
    <meta name="author" content="MiningP">
    <meta name="juicyads-site-verification" content="da00b2314e338e83450b5bf9040a1fa6">
    
    <link rel="stylesheet" href="../betasite.css">

    <style>
        li{
            list-style-type:square;
        }
        .form-control {
            margin-bottom: 1rem;
        }
        .form-control label,
        .form-control input,
        .form-control textarea,
        .form-control span {
            display: block;
        }
        .form-control input[type="text"],
        .form-control input[type="range"],
        .form-control textarea,
        .form-control button {
            width: 100%;
            margin-top: 0.5rem;
            resize: none;
        }
        .form-control textarea{
            font-size: 20;
        }
        .form-control span {
            margin-top: 0.5rem;
            font-weight: bold;
        }
        .form-control.inline-slider {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .form-control.inline-slider label {
            margin-right: 1rem; /* Adjust as needed */
        }

        .form-control.inline-slider input[type="range"] {
            flex-grow: 1; /* Allows the slider to grow and fill the space */
            margin: 0 1rem; /* Adjust as needed */
        }

        .form-control select {
            width: 100%;
            margin-top: 0.5rem;
            padding: 0.5rem;
            border: transparent;
            border-radius: 4px;
            box-sizing: border-box;
            color: white;
            background-color: #ffffff15;
            font-size: 16px;
        }

        /* Additional styling for dropdown arrow */
        .form-control select::after {
            content: '\25BC';  /* Unicode character for down arrow */
            position: absolute;
            top: 0.8rem;
            right: 1rem;
            font-size: 14px;
            pointer-events: none;
            color: white;
            background-color: #00000015;
        }

        .form-control select[multiple] option:checked {
            color: white;
            background-color: rgb(165, 68, 255);
        }

        .range-value {
            min-width: 3rem; /* Ensures that the value doesn't collapse */
            text-align: center;
        }
        #generatorForm {
            max-width: 600px;
            margin: auto;
        }
        .range-value {
            text-align: center;
        }
        #generateButton {
            background-color: #4caf4f95; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            transition: transform 0.7s, background-color 0.3s; /* Adjust time as needed */
            transform: scale(1) rotate(0deg); /* Default state */
            transform-origin: center; /* Ensures the scaling happens from the center */
        }

        #generateButton:hover {
            transform: scale(1.08) rotate(1deg); 
            background-color: #4CAF50; /* Green */
        }
        #generateButton:active {
            transform: scale(1.1);
            background-color: #ffe600; /* Red */
        }
        #generateButton.generating {
            background-color: #ff0000; /* Red */
            cursor:not-allowed;
        }
        #generateButton.generating:hover {
            transform: scale(0.7) rotate(-1deg); 
        }
        img#generatedImage {
            display: block; /* added display block to remove bottom margin of image */
            margin-top: 2rem;
        }
        .instructions ul {
            text-align: left;
        }
        .center-content {
            text-align: center;
        }
        /* This will ensure your custom highlight styling has precedence */
        .ui-menu-item-wrapper{
            border-radius: 1px;
            border-color: rgba(0, 0, 0, 0.279);
            border-style: solid;
            width: fit-content;
        }
        .custom-highlight {
            background-color: rgba(229, 255, 0, 0.25) !important; /* Example color, use !important to ensure override */
            text-decoration: solid !important;
            border-color: gold !important;
            width: fit-content;
        }

        /* add transitions to the autocomplete-open that appears when it gets removed or added to autocomplete-space */

        .autocomplete-space {
            transition: margin-top 0.5s ease-in-out;
            margin-top: 0px !important; /* Adjust this value based on your needs */
        }

        .imagesContainer {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(40%, 1fr)); /* Adjust the minimum width (200px in this example) */
            grid-template-rows: auto auto;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
        }

        .imagesContainer img {
            width: 100%;
            height: auto; /* Maintains aspect ratio */
            object-fit: contain; /* Maintains aspect ratio without stretching the image */
        }


        #imageOverlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.7); /* Dim background */
            display: flex;
            justify-content: center; /* Centers horizontally */
            align-items: center;     /* Centers vertically */
            z-index: 1000; /* Ensure it's above other elements */
        }

        #overlayImage {
            max-width: 80%;
            max-height: 80%;
            object-fit: contain; /* Adds support for maintaining aspect ratio */
        }

        .loraSelection {
            height: 12rem
        }

        /* animation for the details appearing on click using float in */
        @keyframes float-in {
            0% {
                opacity: 0;
                transform: translateY(50px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
        details[open] > summary ~ * {
            animation: float-in 0.5s ease-in-out;
        }


        /* add on hover styling, animations, etc to all the summaries in the doc */
        summary {
            cursor: pointer;
            transition: transform 0.7s, background-color 0.3s; /* Adjust time as needed */
            transform: scale(1) rotate(0deg); /* Default state */
            transform-origin: center; /* Ensures the scaling happens from the center */
            padding: 8px;
        }
        summary:hover {
            transform: scale(1.08) rotate(1deg); 
            background-color: #a200ff4f; /* Red */
        }

        .autocomplete-open {
            margin-top: 120px !important; /* Adjust this value based on your needs */
        }


    </style>

<script>
    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys onSessionId".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
    posthog.init('phc_D2Q9b1OpM8o89clRN0xvgYGatR9ZUTlqm01awV18yB9',{api_host:'https://app.posthog.com'})
</script>
</head>
<body>

    <%- include('../partials/_floatAdvert'); -%>

    <div class="page-sidebar">
        <!-- Side Navigation Partial -->
        <%- include('../partials/_sideNav'); -%>
    </div>

    <div class="page-left" style="margin-top: 22rem;">
        <!-- Tower Advert Partial -->
        <%- include('../partials/_towerAdvert'); -%>
    </div>

    <div class="page-right">
        <div class="center-content">
                    
            <img src="https://www.neversfw.gg/nsfwlogobanner.png" class="neversfw-banner">
            <br>
            <br>
                <%- include('../partials/_bannerAdvert'); -%>
            
            <br><br>
            <%- include('../partials/_mobileNavigation'); -%>
            <!-- Banner Advert Partial -->
        </div>
        
        <div class="round-frosted" style="padding: 40px; justify-content: center;">

            <form id="generatorForm">
                <h2>Welcome to the AI Image Generator!</h2>
                <!-- styling for advancedToggle checkbox, hover with animations etc -->
                <style>
                    #advancedToggle {
                        cursor: pointer;
                        transition: transform 0.7s, background-color 0.3s; /* Adjust time as needed */
                        transform: scale(1) rotate(0deg); /* Default state */
                        transform-origin: center; /* Ensures the scaling happens from the center */
                        padding: 8px;
                        width: 20px;
                        height: 20px;
                    }
                    #advancedToggle:hover {
                        transform: scale(1.2) rotate(3deg); 
                        color: #c259ff; /* Red */
                    }
                </style>
                <div class="form-control">
                    <label for="advancedToggle">Advanced Mode:</label>
                    <input type="checkbox" id="advancedToggle" name="advancedToggle">
                </div>
                <script>
                    document.getElementById('advancedToggle').addEventListener('change', function() {
                        const isChecked = this.checked;
                        const advancedElements = document.querySelectorAll('.advanced');

                        if (isChecked) {
                            advancedElements.forEach(advancedElement => {
                                advancedElement.style.display = advancedElement.dataset.display;
                            });
                        } else {
                            advancedElements.forEach(advancedElement => {
                                advancedElement.dataset.display = advancedElement.style.display;
                                advancedElement.style.display = 'none';
                            });
                        }
                    });
                    document.getElementById('advancedToggle').dispatchEvent(new Event('change'));
                </script>
                
                <details>
                    <summary>Click Here for information on how to use it!</summary>
                    <ul>
                        <li>Advanced Mode: This enables the advanced mode which enables more options for the image generator!</li><br>
                        <li>Prompt: Enter a descriptive and clear text prompt that outlines what you want to generate. Be as specific as possible to get the best results & be sure to use the autocomplete dropdown!</li><br>
                        <li>Negative Prompt: If there are elements you want to avoid in your image, specify them here, Here is a recommended one!</li><br>
                        <a>worst_quality, low_quality, watermark, signature, bad_anatomy, bad_hands, deformed_limbs, blurry, cropped, cross-eyed, extra_arms, extra_legs, extra_limbs, extra_pupils, bad_proportions, poorly_drawn_hands, simple_background, bad_background, bad_lighting, bad_perspective,</a>
                        <br><br>
                        <li>Model: Select the model you want to use, the default is the furry model which can generate, anime human, anime and furry images, also realistic images too!</li><br>
                        <li>Aspect Ratio: Change the aspect ratio of the image from a square, to portrait or landscape!</li><br>
                        <li>Style Lora's: Select the style lora's you want to use, these will be used to generate the image!</li><br>
                        <li>Effect Lora's: Select the effect lora's you want to use, these will be used to generate the image!</li><br>
                        <li>Concept Lora's: Select the concept lora's you want to use, these will be used to generate the image!</li><br>
                        <li>Clothing Lora's: Select the clothing lora's you want to use, these will be used to generate the image!</li><br>
                        <li>Character Lora's: Select the character lora's you want to use, these will be used to generate the image!</li><br>
                        <li>Pose Lora's: Select the pose lora's you want to use, these will be used to generate the image!</li><br>
                        <li>Steps: This controls the number of steps the diffusion process will take. A higher number of steps can result in more detailed images but may take longer to generate.</li><br>
                        <li>Quantity: This controls the number of images the image API should generate, the more the slower!</li><br>
                        <li>img2img: This enables the img2img process, this will generate an image from an uploaded image. This can be used to generate images of specific characters or poses!</li><br>
                        <li>img2img Strength: This controls the strength of the img2img process, a higher number will result in a more accurate image but may result in a less accurate image.</li><br>
                        <li>CFG: This controls the amount of control the AI has over the image, a higher number will result in more control but may result in a less accurate image.</li><br>
                        <li>Seed: This controls the seed used for the image generation, a seed of -1 will generate a random seed.</li><br>
                        <li>Generate Image: Click this button to generate your image!</li><br>
                    </ul>
                </details>

                <div id="autocomplete-space"></div>

                <details open>
                    <summary>Prompt & Negative Prompt</summary>
                        <div class="form-control">
                            <!-- make the label and span on the same line -->
                            <!-- <label for="prompt">Prompt: <span id="promptWordCount">(70)</span></label> -->
                            <a for="prompt">Prompt: <a id="promptWordCount">(70)</a></a>
                            <br>

                            <textarea id="prompt" name="prompt" rows="4" required><%= promptValue %></textarea>
                        </div>

                        <!-- <div class="form-control">
                            <label for="enhance_prompt">Enhance Prompt:</label>
                            <input type="checkbox" id="enhance_prompt" name="enhance_prompt">
                        </div> -->

                        <div class="form-control">
                            <a for="negativeprompt">Negative Prompt: <a id="negativePromptWordCount">(70)</a></a>
                            <textarea id="negativeprompt" name="negativeprompt" rows="4"><%=negativePromptValue%></textarea>
                        </div>

                </details>
                
                <div class="form-control">
                    <label for="aspectRatio">Aspect Ratio:</label>
                    <select id="aspectRatio" name="aspectRatio" value="Square">
                        <option value="Square">Square (512 x 512)</option>
                        <option value="Portrait">Portrait (512 x 768)</option>
                        <option value="Landscape">Landscape (768 x 512)</option>
                    </select>
                </div>


                <div class="form-control">
                    <label for="model">Model:</label>
                    <select id="model" name="model" value="<%=modelValue%>">
                        <option value="furry">Default - Furry Vixens (Anime, Human & Furry)</option>
                        <option value="sonic">SonicDiffusion (Sonic the Hedgehog)</option>
                        <option value="cyberreal">Cyberreal (Realistic)</option>
                        <option value="aing">AingDiffusion (Anime)</option>
                        <option value="flat2DAnimerge">flat2DAnimerge (Anime)</option>
                        <!-- <option value="ponyDiffusion">ponyDiffusion (My Little Pony)</option> -->
                        <option value="realisticVision">realisticVision (Realstic)</option>
                    </select>
                </div>




                
                <div class="advanced">
                    <div></div>
                    <div></div>
                    <!-- by default should be expanded -->
                    <details open>
                        <summary>Loras (<span id="totalLorasSelected"></span>/<span id="totalLoras"></span>)</summary>
                        <br>
                        <div class="imagesContainer">
                            <details>
                                <!-- style-lora-count / style-lora-total -->
                                <summary>Style Lora's <span id="style-lora-summary"></span></summary>
                                <div class="form-control">
                                    <% if (data.style) { %>
                                        <select class="loraSelection" id="style-lora" name="style-lora" multiple>
                                            <% Object.entries(data.style).forEach(([key, value]) => { %>
                                                <option value="<%= key %>" <%= selectedLoras.style.includes(key) ? 'selected' : '' %>><%= value.name || key %></option>
                                            <% }); %>
                                        </select>
                                    <% } %>
                                </div>
                            </details>
                                
                            <details>
                                <summary>Effect Lora's <span id="effect-lora-summary"></span></summary>
                                <div class="form-control">
                                    <% if (data.effect) { %>
                                        <select class="loraSelection" id="effect-lora" name="effect-lora" multiple>
                                            <% Object.entries(data.effect).forEach(([key, value]) => { %>
                                                <option value="<%= key %>" <%= selectedLoras.effect.includes(key) ? 'selected' : '' %>><%= value.name || key %></option>
                                            <% }); %>
                                        </select>
                                    <% } %>
                                </div>
                            </details>
                
                            <details>
                                <summary>Concept Lora's <span id="concept-lora-summary"></span></summary>
                                <div class="form-control">
                                    <% if (data.concept) { %>
                                        <select class="loraSelection" id="concept-lora" name="concept-lora" multiple>
                                            <% Object.entries(data.concept).forEach(([key, value]) => { %>
                                                <option value="<%= key %>" <%= selectedLoras.concept.includes(key) ? 'selected' : '' %>><%= value.name || key %></option>
                                            <% }); %>
                                        </select>
                                    <% } %>
                                </div>
                            </details>
                
                            <details>
                                <summary>Clothing Lora's <span id="clothing-lora-summary"></span></summary>
                                <div class="form-control">
                                    <% if (data.clothing) { %>
                                        <select class="loraSelection" id="clothing-lora" name="clothing-lora" multiple>
                                            <% Object.entries(data.clothing).forEach(([key, value]) => { %>
                                                <option value="<%= key %>" <%= selectedLoras.clothing.includes(key) ? 'selected' : '' %>><%= value.name || key %></option>
                                            <% }); %>
                                        </select>
                                    <% } %>
                                </div>
                            </details>

                            <details>
                                <summary>Character Lora's <span id="character-lora-summary"></span></summary>
                                <div class="form-control">
                                    <% if (data.character) { %>
                                        <select class="loraSelection" id="character-lora" name="character-lora" multiple>
                                            <% Object.entries(data.character).forEach(([key, value]) => { %>
                                                <option value="<%= key %>" <%= selectedLoras.character.includes(key) ? 'selected' : '' %>><%= value.name || key %></option>
                                            <% }); %>
                                        </select>
                                    <% } %>
                                </div>
                            </details>

                            <details>
                                <summary>Pose Lora's <span id="pose-lora-summary"></span></summary>
                                <div class="form-control">
                                    <% if (data.pose) { %>
                                        <select class="loraSelection" id="pose-lora" name="pose-lora" multiple>
                                            <% Object.entries(data.pose).forEach(([key, value]) => { %>
                                                <option value="<%= key %>" <%= selectedLoras.pose.includes(key) ? 'selected' : '' %>><%= value.name || key %></option>
                                            <% }); %>
                                        </select>
                                    <% } %>
                                </div>
                            </details>
                        </div>

                        <style>
                            #clearAllLorasButton {
                                background-color: #ff000085; /* Red */
                                border: none;
                                color: white;
                                padding: 15px 32px;
                                text-align: center;
                                text-decoration: none;
                                display: inline-block;
                                font-size: 16px;
                                margin: 4px 2px;
                                cursor: pointer;
                                transition: transform 0.7s, background-color 0.3s; /* Adjust time as needed */
                                transform: scale(1) rotate(0deg); /* Default state */
                                transform-origin: center; /* Ensures the scaling happens from the center */
                            }
                            #clearAllLorasButton:hover {
                                transform: scale(1.08) rotate(1deg); 
                                background-color: #ff0000; /* Red */
                            }
                        </style>

                        <button type="button" id="clearAllLorasButton">Clear All Lora's</button>
                    </details>
                    <br>

                    <!-- calculate the totalLorasSelected and the totalLoras from all the loraSelection classes and display it -->
                    <script>
                        // get all the loraSelection classes
                        const loraSelections = document.querySelectorAll('.loraSelection');

                        // get the totalLorasSelected and totalLoras elements
                        const totalLorasSelected = document.getElementById('totalLorasSelected');
                        const totalLoras = document.getElementById('totalLoras');

                        // get the total number of loras
                        let totalLorasCount = 0;
                         loraSelections.forEach(loraSelection => {
                            totalLorasCount += loraSelection.options.length;
                        });

                        // get the total number of loras selected
                        let totalLorasSelectedCount = 0;

                        // loop through each loraSelection
                        loraSelections.forEach(loraSelection => {
                            // add an event listener for when the selection changes
                            loraSelection.addEventListener('change', function() {
                                // update the totalLorasSelectedCount
                                totalLorasSelectedCount = 0;
                                loraSelections.forEach(loraSelection => {
                                    totalLorasSelectedCount += loraSelection.selectedOptions.length;
                                });

                                // update the totalLorasSelected and totalLoras elements
                                totalLorasSelected.innerText = totalLorasSelectedCount;
                                totalLoras.innerText = totalLorasCount;
                            });
                        });
                    </script>
                    
                    <script>
                        // clear all loras button functionality
                        document.getElementById('clearAllLorasButton').addEventListener('click', function() {
                            // loop through each loraSelection
                            loraSelections.forEach(loraSelection => {
                                // loop through each option in the loraSelection
                                for (let i = 0; i < loraSelection.options.length; i++) {
                                    // set the option to not selected
                                    loraSelection.options[i].selected = false;
                                }
                            });

                            // update the totalLorasSelectedCount
                            totalLorasSelectedCount = 0;
                            loraSelections.forEach(loraSelection => {
                                totalLorasSelectedCount += loraSelection.selectedOptions.length;
                            });

                            // update the totalLorasSelected and totalLoras elements and their <span id="character-lora-count">(5)</span> elements to 0
                            totalLorasSelected.innerText = totalLorasSelectedCount;
                            totalLoras.innerText = totalLorasCount;
                            loraSelections.forEach(loraSelection => {
                                console.log(loraSelection.id);
                                document.getElementById(`${loraSelection.id}`).dispatchEvent(new Event('change'));
                            });



                        });
                    </script>

                </div>

                <script>
                    // Update the count of selected loras when the selection changes

                    // pose-lora
                    document.getElementById('pose-lora').addEventListener('change', function() {
                        document.getElementById('pose-lora-summary').innerText = `(${this.selectedOptions.length}/${this.options.length})`;
                    });
                    document.getElementById('pose-lora').dispatchEvent(new Event('change'));

                    // character-lora
                    document.getElementById('character-lora').addEventListener('change', function() {
                        document.getElementById('character-lora-summary').innerText = `(${this.selectedOptions.length}/${this.options.length})`;
                    });
                    document.getElementById('character-lora').dispatchEvent(new Event('change'));

                    // clothing-lora
                    document.getElementById('clothing-lora').addEventListener('change', function() {
                        document.getElementById('clothing-lora-summary').innerText = `(${this.selectedOptions.length}/${this.options.length})`;
                    });
                    document.getElementById('clothing-lora').dispatchEvent(new Event('change'));

                    // concept-lora
                    document.getElementById('concept-lora').addEventListener('change', function() {
                        document.getElementById('concept-lora-summary').innerText = `(${this.selectedOptions.length}/${this.options.length})`;
                    });
                    document.getElementById('concept-lora').dispatchEvent(new Event('change'));

                    // effect-lora
                    document.getElementById('effect-lora').addEventListener('change', function() {
                        document.getElementById('effect-lora-summary').innerText = `(${this.selectedOptions.length}/${this.options.length})`;
                    });
                    document.getElementById('effect-lora').dispatchEvent(new Event('change'));

                    // style-lora
                    document.getElementById('style-lora').addEventListener('change', function() {
                        document.getElementById('style-lora-summary').innerText = `(${this.selectedOptions.length}/${this.options.length})`;
                    });
                    document.getElementById('style-lora').dispatchEvent(new Event('change'));

                    

                </script>

                <div class="advanced">
                    <details open>
                        <summary>Settings (Steps, CFG, Quanitity, Seed)</summary>
                        <div class="form-control inline-slider">
                            <label for="steps">Steps:</label>
                            <input type="range" id="steps" name="steps" min="10" max="100" step="1" value="20">
                            <span id="stepsValue" class="range-value">20</span>
                        </div>
        
                        <div class="form-control inline-slider">
                            <label for="cfguidance">CFG:</label>
                            <input type="range" id="cfguidance" name="cfguidance" min="1" max="30" step="0.1" value="5">
                            <span id="cfguidanceValue" class="range-value">5</span>
                        </div>
        
                        <div class="form-control inline-slider">
                            <label for="quantity">Image Quantity:</label>
                            <input type="range" id="quantity" name="quantity" min="1" max="9" step="1" value="4">
                            <span id="quantityValue" class="range-value">4</span>
                        </div>
        
                        <div class="form-control">
                            <label for="seed">Seed: (-1 = random)</label>
                            
                            <input type="number" id="seed" name="seed" min="-18446744073709551614" max="18446744073709551615" value="-1">
        
                        </div>
                    </details>
                </div>
                <br>
            

                
            

                <div class="form-control">
                    <label for="img2imgCheckbox">Enable img2img:</label>
                    <input type="checkbox" id="img2imgCheckbox" name="img2imgCheckbox">
                </div>
                
                <div class="form-control" id="img2imgControls" style="display: none;">
                    <label for="uploadedImage">Upload Image:</label>
                    <input type="file" id="uploadedImage" name="uploadedImage" accept="image/*">
                </div>

                <div class="form-control inline-slider" id="img2imgStrengthControl" style="display: none;">
                    <label for="img2imgStrength">img2img Strength:</label>
                    <input type="range" id="img2imgStrength" name="img2imgStrength" min="0" max="100" step="1" value="50">
                    <span id="img2imgStrengthValue" class="range-value">50%</span>
                </div>
                
                

                <center>
                    <% if (session.loggedIn == false) { %>
                        <p style="color: rgba(255, 255, 255, 0.249)"> Register for up to 150 steps from 50!</p>
                    <% } %>
                    <a href="/uploadArt"><h2>Be sure to upload your best work to the website!</h2></a>
                    <p style="color: rgba(255, 255, 255, 0.8)">(Just be sure to use the ai-generated tag when you upload or else your post will be removed!)</p>
                    <br><br>
                </center>
                
                <div class="form-control">
                    <button type="submit" id="generateButton">Generate Image</button>
                </div>
            </form>

            <div id="additionalInfo"></div><br>
            
            <center>
                <div id="response"></div>
                <div id="queuePosition" style="display: none;">Your position in queue: <span style="color: gold;" id="positionNumber"></span></div>
                <br>
                <div id="imagesContainer" class="imagesContainer"></div>
                
            </center>
        </div>


        <div style="height: 20rem;"></div>

        <!-- Footer Partial -->
        <%- include('../partials/_footerNew'); -%>
        
    </div>

    <div id="imageOverlay" style="display:none;">
        <img id="overlayImage" src="" alt="Enlarged view" />
    </div>    


    <script>

    </script>







    <script>
        document.getElementById('img2imgCheckbox').addEventListener('change', function() {
            const isChecked = this.checked;
            const img2imgControls = document.getElementById('img2imgControls');
            const img2imgStrengthControl = document.getElementById('img2imgStrengthControl');

            if (isChecked) {
                img2imgControls.style.display = 'block';
                img2imgStrengthControl.style.display = 'block';
            } else {
                img2imgControls.style.display = 'none';
                img2imgStrengthControl.style.display = 'none';
            }
        });

        document.getElementById('img2imgStrength').addEventListener('input', function() {
            document.getElementById('img2imgStrengthValue').innerText = this.value + '%';
        });
        document.getElementById('img2imgStrength').dispatchEvent(new Event('input'));

        document.getElementById('cfguidance').addEventListener('input', function() {
            document.getElementById('cfguidanceValue').innerText = `${this.value}/${this.max}`;
        });
        document.getElementById('cfguidance').dispatchEvent(new Event('input'));

    </script>








    <script>
        function updateWordCount() {
            const promptTextarea = document.getElementById('prompt');
            const negativePromptInput = document.getElementById('negativeprompt');

            const promptWordCount = promptTextarea.value.trim().split(/\s+/).filter(word => word !== '').length;
            const negativePromptWordCount = negativePromptInput.value.trim().split(/\s+/).filter(word => word !== '').length;

            const totalWordCount = promptWordCount + negativePromptWordCount;
            const remainingWords = 70 - totalWordCount;

            // Display the total word count
            // display the remaining words to 2 spans: one for the prompt and one for the negative prompt like this: 10 (70)
            document.getElementById('promptWordCount').innerText = `${promptWordCount} (${remainingWords})`;
            document.getElementById('negativePromptWordCount').innerText = `${negativePromptWordCount} (${remainingWords})`;


            // // Disable the generate button if the total word count exceeds the limit
            // const generateButton = document.getElementById('generateButton');
            // generateButton.disabled = remainingWords < 0;
        }

        // Add event listener for input on both the prompt textarea and the negative prompt input
        document.getElementById('prompt').addEventListener('input', updateWordCount);
        document.getElementById('negativeprompt').addEventListener('input', updateWordCount);

        // Initial update
        updateWordCount();
    </script>






    <script>
        document.getElementById('imagesContainer').addEventListener('click', function(event) {
            if (event.target.tagName === 'IMG') {
                showOverlay(event.target.src);
            }
        });

        let currentImageIndex = 0;
        let imagesSrcList = [];

        function showOverlay(src) {
            const overlay = document.getElementById('imageOverlay');
            overlay.style.display = 'flex'; // Change to 'flex' to activate flexbox
            document.getElementById('overlayImage').src = src;
    
            // Disable scrolling on the body
            document.body.style.overflow = 'hidden';
            const overlayImage = document.getElementById('overlayImage');

            overlay.style.display = 'block';
            overlayImage.src = src;
            currentImageIndex = imagesSrcList.indexOf(src);

            // Add event listener for keydown
            document.addEventListener('keydown', handleArrowKeyPress);
        }

        function hideOverlay() {
            const overlay = document.getElementById('imageOverlay');
            overlay.style.display = 'none';
            
            // Enable scrolling
            document.body.style.overflow = '';

            // Remove event listener to prevent interference when overlay is not active
            document.removeEventListener('keydown', handleArrowKeyPress);
        }

        function handleArrowKeyPress(event) {
            if (!imagesSrcList.length) return; // Exit if no images are available

            if (event.key === 'ArrowRight') {
                currentImageIndex = (currentImageIndex + 1) % imagesSrcList.length;
            } else if (event.key === 'ArrowLeft') {
                currentImageIndex = (currentImageIndex - 1 + imagesSrcList.length) % imagesSrcList.length;
            } else {
                return; // Exit if not a left/right arrow key
            }
            document.getElementById('overlayImage').src = imagesSrcList[currentImageIndex];
        }

        // Function to populate imagesSrcList when images are loaded
        function populateImagesSrcList() {
            imagesSrcList = Array.from(document.querySelectorAll('#imagesContainer img')).map(img => img.src);        }

        // Add click event listener to the overlay to hide it when clicked
        document.getElementById('imageOverlay').addEventListener('click', hideOverlay);
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>

    <script>
        var maxStepsCountWanted = `<%= session.loggedIn ? 100 : 50 %>`
        var maxImageQuantityWanted = 9;

        document.getElementById('advancedToggle').dispatchEvent(new Event('change'));

    </script>
    
    <script src="../scripts/ai-slider-balancing.js"></script>

    <script src="../scripts/ai-form.js"></script>
    <script src="../scripts/ai-autocomplete.js?v1"></script>
    <script src="../scripts/ai-strength.js"></script>
</body>
</html>
