<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free Stable Diffusion AI Image Generator | NeverSFW.gg</title>
    <meta name="description" content="Generate free image w/ NeverGen AI Image Generator! multiple models, loras, img2img, inpainting, controlnet, openpose & more!">
    <meta name="keywords" content="nsfw, Porn, Hentai, rule34, r34, ai, image, image generator, dalle-3, stable diffusion, web-ui, sonic diffusion, mobians ai, realistic ai, hentai ai, anime ai, furry ai, sfw, safe for work, sfw ai, safe for work ai, sfw image generator, safe for work image generator, sfw ai image generator, steps, image to image, image 2 image, img2img, loras, seed, cfg, image quantity, resolution, aspect ratio, model, prompt, negative prompt, style lora, effect lora, concept lora, clothing lora, character lora, pose lora, steps, cfg, quantity, seed, img2img controls, inpainting, controlnet, openpose">
    <meta name="author" content="JSCammie">
    <meta name="juicyads-site-verification" content="da00b2314e338e83450b5bf9040a1fa6">
    
    <link rel="stylesheet" href="../betasite.css">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=TAG_ID"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-FFEW0Y6QFQ');
    </script>

</head>
<body>

    <%- include('../partials/_floatAdvert'); -%>

    <div class="page-sidebar">
        <!-- Side Navigation Partial -->
        <%- include('../partials/_sideNav'); -%>
    </div>

    <div class="page-left" style="margin-top: 22rem;">
        <!-- Tower Advert Partial -->
        <%- include('../partials/_towerAdvert'); -%>
    </div>

    <div class="page-right">
        <div class="center-content">
                    
            <img src="https://www.neversfw.gg/nsfwlogobanner.png" class="neversfw-banner">
            <br>
            <br>
                <%- include('../partials/_bannerAdvert'); -%>
            
            <br><br>
            <%- include('../partials/_mobileNavigation'); -%>
            <!-- Banner Advert Partial -->
        </div>
        
        <div class="round-frosted" style="padding: 40px; justify-content: center;">

            <h1>The AI Image Generator has moved to:</h1>
            <a href="https://www.jscammie.com/ai" style="font-size: xx-large;">JSCammie.com!</a>

            <br><br>

            <details open>
                <summary>Save Slots</summary>
                <div class="form-control">
                    <!-- Display Existing Save Slots -->
                    <% if (aiSaveSlots && aiSaveSlots.length > 0) { %>
                        <div id="saveSlotMasterDiv"></div>
                        <script>
                            // fetch the users save slots from /ai-saves-get and display them:
                            window.refreshSaveSlots = async function() {
                                await fetch('/ai-saves-get')
                                .then(response => response.json())
                                .then(data => {
                                    // Handle loaded data
                                    console.log(data);
                                    // get the save slots from the data:
                                    const saveSlots = data.aiSaveSlots;
                                    // make a div inside of saveSlotMasterDiv with a details for each save slot, with the summary being the name of the save slot:
                                    const saveSlotMasterDiv = document.getElementById('saveSlotMasterDiv');
                                    finalHtml = ''
                                    saveSlots.forEach(saveSlot => {
                                        // made the div id the saveSlot id so it can be used to load the save slot:
                                        
                                        finalHtml += `<div id="saveSlot-${saveSlot.saveSlotId}">
                                            <details>
                                            <summary>${saveSlot.name}</summary>
                                            <input id="saveSlot-${saveSlot.saveSlotId}-prompt" type="hidden" value="${saveSlot.prompt}"></input> 
                                            <input id="saveSlot-${saveSlot.saveSlotId}-negativeprompt" type="hidden" value="${saveSlot.negativeprompt}"></input>
                                            <input id="saveSlot-${saveSlot.saveSlotId}-aspectRatio" type="hidden" value="${saveSlot.aspectRatio}"></input>
                                            <input id="saveSlot-${saveSlot.saveSlotId}-model" type="hidden" value="${saveSlot.model}"></input>
                                            <input id="saveSlot-${saveSlot.saveSlotId}-loras" type="hidden" value="${saveSlot.loras}"></input>
                                            <input id="saveSlot-${saveSlot.saveSlotId}-steps" type="hidden" value="${saveSlot.steps}"></input>
                                            <input id="saveSlot-${saveSlot.saveSlotId}-quantity" type="hidden" value="${saveSlot.quantity}"></input>
                                            <input id="saveSlot-${saveSlot.saveSlotId}-cfg" type="hidden" value="${saveSlot.cfg}"></input>
                                            <input id="saveSlot-${saveSlot.saveSlotId}-seed" type="hidden" value="${saveSlot.seed}"></input>


                                            <p>Prompt: ${saveSlot.prompt}</p>
                                            <p>Negative Prompt: ${saveSlot.negativeprompt}</p>
                                            <p>Aspect Ratio: ${saveSlot.aspectRatio}</p>
                                            <p>Model: ${saveSlot.model}</p>
                                            <p>Lora's: ${saveSlot.loras}</p>
                                            <p>Steps: ${saveSlot.steps}</p>
                                            <p>Quantity: ${saveSlot.quantity}</p>
                                            <p>CFG: ${saveSlot.cfg}</p>
                                            <p>Seed: ${saveSlot.seed}</p>
                                            </details>
                                            <a style="display: flex; justify-content: space-between;">
                                                <button class="saveSlotButton Load" type="button" onclick="loadSlot('${saveSlot.saveSlotId}')">Load 💾</button>
                                                <button class="saveSlotButton Delete" type="button" onclick="deleteSlot('${saveSlot.saveSlotId}')">Delete 🗑️</button>
                                                <button class="saveSlotButton Update" type="button" onclick="updateSlot('${saveSlot.saveSlotId}')">Update ⬆️</button>
                                            </a>
                                            </div>

                                            <br>
                                            </div>
                                            `  
                                    })
                                    finalHtml += ''
                                    saveSlotMasterDiv.innerHTML = finalHtml;
                                    
                                });
                            }

                            refreshSaveSlots();

                            
                            
                        </script>
                    <% } %>
                    
                </div>
            </details>


        </div>


        <div style="height: 20rem;"></div>

        <!-- Footer Partial -->
        <%- include('../partials/_footerNew'); -%>
        
    </div>

</body>
</html>
