<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>100% Free! NeverGen AI Image Generator | NeverSFW.gg</title>
    <meta name="description" content="Generate free image w/ NeverGen AI Image Generator! multiple models, loras, img2img, inpainting & more!">
    <meta name="keywords" content="nsfw, Porn, Hentai, rule34, r34, ai, image, image generator, dalle-3, stable diffusion, web-ui, sonic diffusion, mobians ai, realistic ai, hentai ai, anime ai, furry ai, sfw, safe for work, sfw ai, safe for work ai, sfw image generator, safe for work image generator, sfw ai image generator, steps, image to image, image 2 image, img2img, loras, seed, cfg, image quantity, resolution, aspect ratio, model, prompt, negative prompt, style lora, effect lora, concept lora, clothing lora, character lora, pose lora, steps, cfg, quantity, seed, img2img controls, inpainting">
    <meta name="author" content="MiningP">
    <meta name="juicyads-site-verification" content="da00b2314e338e83450b5bf9040a1fa6">
    
    <link rel="stylesheet" href="../betasite.css">

    <style>
        li{
            list-style-type:square;
        }
        .form-control {
            margin-bottom: 1rem;
        }
        .form-control label,
        .form-control input,
        .form-control textarea,
        .form-control {
            display: block;
        }
        .form-control input[type="text"],
        .form-control input[type="range"],
        .form-control textarea,
        .form-control button {
            width: 100%;
            margin-top: 0.5rem;
            resize: none;
        }
        .form-control textarea{
            font-size: 20;
        }
        .form-control span {
            margin-top: 0.5rem;
            font-weight: bold;
        }

        /* add onto the styling for the inline-slider range, with outlines and purple colours */
        .form-control.inline-slider {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .form-control.inline-slider label {
            margin-right: 1rem; /* Adjust as needed */
        }
        .form-control.inline-slider input[type="range"] {
            width: 100%;
            margin-top: 0.5rem;
            padding: 0.5rem;
            border: transparent;
            border-radius: 4px;
            box-sizing: border-box;
            color: white;
            background-color: #ffffff15;
            font-size: 16px;
            outline: none;
            -webkit-appearance: none; /* Removes default styling */
        }
        /* slider thumb trail and white outline */
        .form-control.inline-slider input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none; /* Removes default styling */
            width: 1rem; /* Adjust as needed */
            height: 1rem; /* Adjust as needed */
            background-color: #c259ff; /* Adjust as needed */
            border-radius: 50%;
            cursor: pointer;
            transform: translateY(-0.25rem);
            box-shadow: 0 0 0 0.075rem #ffffff; /* Adjust as needed */
        }
        .form-control.inline-slider input[type="range"]::-moz-range-thumb {
            width: 1rem; /* Adjust as needed */
            height: 1rem; /* Adjust as needed */
            background-color: #c259ff; /* Adjust as needed */
            border-radius: 50%;
            cursor: pointer;
            transform: translateY(-0.25rem);
            box-shadow: 0 0 0 0.075rem #ffffff; /* Adjust as needed */
        }
        .form-control.inline-slider input[type="range"]::-ms-thumb {
            width: 1rem; /* Adjust as needed */
            height: 1rem; /* Adjust as needed */
            background-color: #c259ff; /* Adjust as needed */
            border-radius: 50%;
            cursor: pointer;
            transform: translateY(-0.25rem);
            box-shadow: 0 0 0 0.075rem #ffffff; /* Adjust as needed */
        }


        .form-control.inline-slider input[type="range"]::-webkit-slider-runnable-track {
            width: 100%;
            height: 0.5rem; /* Adjust as needed */
            background-color: #ffffff15; /* Adjust as needed */
            border-radius: 4px;
        }
        .form-control.inline-slider input[type="range"]::-moz-range-track {
            width: 100%;
            height: 0.5rem; /* Adjust as needed */
            background-color: #ffffff15; /* Adjust as needed */
            border-radius: 4px;
        }
        .form-control.inline-slider input[type="range"]::-ms-track {
            width: 100%;
            height: 0.5rem; /* Adjust as needed */
            background-color: #ffffff15; /* Adjust as needed */
            border-radius: 4px;
        }
        .form-control.inline-slider input[type="range"]::-ms-fill-lower {
            background-color: #ffffff15; /* Adjust as needed */
            border-radius: 4px;
        }
        .form-control.inline-slider input[type="range"]::-ms-fill-upper {
            background-color: #ffffff15; /* Adjust as needed */
            border-radius: 4px;
        }
        .form-control.inline-slider input[type="range"]::-ms-tooltip {
            display: none; /* Removes default styling */
        }
        .form-control.inline-slider .range-value {
            min-width: 3rem; /* Ensures that the value doesn't collapse */
            text-align: center;
        }
        

        /* custom styling for the select dropdowns, both for select and select multiple, transitions */
        .form-control select {
            width: 100%;
            margin-top: 0.5rem;
            padding: 0.5rem;
            border: transparent;
            border-radius: 4px;
            box-sizing: border-box;
            color: white;
            background-color: rgba(0, 0, 0, 0.103);
            font-size: 16px;
            outline: none;
        }
        /* for single select dropdowns */
        .form-control select option {
            color: rgb(255, 255, 255);
            background-color: rgba(0, 0, 0, 0.815);
            padding: 4px;
        }
        .form-control select option:checked {
            color: white;
            background-color: rgba(165, 68, 255, 0.473);
        }
        .form-control select option:hover {
            color: white;
            background-color: rgba(165, 68, 255, 0.507);
        }
        /* for multiple select dropdowns */
        .form-control select[multiple] {
            height: 16rem;
        }
        .form-control select[multiple] option {
            color: rgb(255, 255, 255);
            background-color: rgba(0, 0, 0, 0.103);
            padding: 0px !important;
        }
        .form-control select[multiple] option:checked {
            color: white;
            background-color: rgb(165, 68, 255);
        }
        .form-control select[multiple] option:hover {
            color: white;
            background-color: rgb(165, 68, 255);
        }




        /* Additional styling for dropdown arrow */
        .form-control select::after {
            content: '\25BC';  /* Unicode character for down arrow */
            position: absolute;
            top: 0.8rem;
            right: 1rem;
            font-size: 14px;
            pointer-events: none;
            color: white;
            background-color: #00000015;
        }


        .form-control select[multiple] option:checked {
            color: white;
            background-color: rgb(165, 68, 255);
        }

        .range-value {
            min-width: 3rem; /* Ensures that the value doesn't collapse */
            text-align: center;
        }
        /* generator form max-width based on screen size 750px: */
        @media screen and (max-width: 750px) {
            #generatorForm {
                max-width: 600px;
            }
        }
        @media screen and (min-width: 750px) {
            #generatorForm {
                max-width: 900px;
            }
        }
        #generatorForm {
            margin: auto;
        }
        .range-value {
            text-align: center;
        }
        #generateButton {
            background-color: #4caf4f95; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            transition: transform 0.7s, background-color 0.3s; /* Adjust time as needed */
            transform: scale(1) rotate(0deg); /* Default state */
            transform-origin: center; /* Ensures the scaling happens from the center */
        }

        #generateButton:hover {
            transform: scale(1.08) rotate(1deg); 
            background-color: #4CAF50; /* Green */
        }
        #generateButton:active {
            transform: scale(1.1);
            background-color: #ffe600; /* Red */
        }
        #generateButton.generating {
            background-color: #ff0000; /* Red */
            cursor:not-allowed;
        }
        #generateButton.generating:hover {
            transform: scale(0.7) rotate(-1deg); 
        }
        img#generatedImage {
            display: block; /* added display block to remove bottom margin of image */
            margin-top: 2rem;
        }
        .instructions ul {
            text-align: left;
        }
        .center-content {
            text-align: center;
        }
        /* This will ensure your custom highlight styling has precedence */
        .ui-menu-item-wrapper{
            border-radius: 1px;
            border-color: rgba(0, 0, 0, 0.279);
            border-style: solid;
            width: fit-content;
        }
        .custom-highlight {
            background-color: rgba(229, 255, 0, 0.25) !important; /* Example color, use !important to ensure override */
            text-decoration: solid !important;
            border-color: gold !important;
            width: fit-content;
        }

        /* add transitions to the autocomplete-open that appears when it gets removed or added to autocomplete-space */

        .autocomplete-space {
            transition: margin-top 0.5s ease-in-out;
            margin-top: 0px !important; /* Adjust this value based on your needs */
        }

        .imagesContainer {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(40%, 1fr)); /* Adjust the minimum width (200px in this example) */
            grid-template-rows: auto auto;
            grid-column-gap: 20px;
            grid-row-gap: 20px;
        }

        .imagesContainer img {
            width: 100%;
            height: auto; /* Maintains aspect ratio */
            object-fit: contain; /* Maintains aspect ratio without stretching the image */
        }


        #imageOverlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.7); /* Dim background */
            display: flex;
            justify-content: center; /* Centers horizontally */
            align-items: center;     /* Centers vertically */
            z-index: 1000; /* Ensure it's above other elements */
        }

        #overlayImage {
            max-width: 80%;
            max-height: 80%;
            object-fit: contain; /* Adds support for maintaining aspect ratio */
        }

        /* loraSelection when the loras are set to only 1 visible have it be smaller for example */
        .loraSelection {
            min-height: 1rem !important;
            max-height: 7rem !important;
        }

        /* animation for the details appearing on click using float in */
        @keyframes float-in {
            0% {
                opacity: 0;
                transform: translateY(50px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
        details[open] > summary ~ * {
            animation: float-in 0.5s ease-in-out;
        }


        /* add on hover styling, animations, etc to all the summaries in the doc */
        summary {
            cursor: pointer;
            transition: transform 0.7s, background-color 0.3s; /* Adjust time as needed */
            transform: scale(1) rotate(0deg); /* Default state */
            transform-origin: center; /* Ensures the scaling happens from the center */
            padding: 8px;
        }
        summary:hover {
            transform: scale(1.08) rotate(1deg); 
            background-color: #a200ff4f; /* Red */
        }

        .autocomplete-open {
            margin-top: 130px !important; /* Adjust this value based on your needs */
        }


    </style>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=TAG_ID"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-FFEW0Y6QFQ');
    </script>

</head>
<body>

    <%- include('../partials/_floatAdvert'); -%>

    <div class="page-sidebar">
        <!-- Side Navigation Partial -->
        <%- include('../partials/_sideNav'); -%>
    </div>

    <div class="page-left" style="margin-top: 22rem;">
        <!-- Tower Advert Partial -->
        <%- include('../partials/_towerAdvert'); -%>
    </div>

    <div class="page-right">
        <div class="center-content">
                    
            <img src="https://www.neversfw.gg/nsfwlogobanner.png" class="neversfw-banner">
            <br>
            <br>
                <%- include('../partials/_bannerAdvert'); -%>
            
            <br><br>
            <%- include('../partials/_mobileNavigation'); -%>
            <!-- Banner Advert Partial -->
        </div>
        
        <div class="round-frosted" style="padding: 40px; justify-content: center;">

            <form id="generatorForm">
                <h2>Welcome to the AI Image Generator!</h2>
                <!-- styling for advancedToggle checkbox, hover with animations etc -->
                <style>
                    #advancedToggle {
                        cursor: pointer;
                        transition: transform 0.7s, background-color 0.3s; /* Adjust time as needed */
                        transform: scale(1) rotate(0deg); /* Default state */
                        transform-origin: center; /* Ensures the scaling happens from the center */
                        padding: 8px;
                        width: 20px;
                        height: 20px;
                    }
                    #advancedToggle:hover {
                        transform: scale(1.2) rotate(3deg); 
                        color: #c259ff; /* Red */
                    }
                </style>
                <div class="form-control">
                    <label for="advancedToggle">Advanced Mode:</label>
                    <input type="checkbox" id="advancedToggle" name="advancedToggle" <%=advancedMode%>>
                </div>
                <script>
                    document.getElementById('advancedToggle').addEventListener('change', function() {
                        const isChecked = this.checked;
                        const advancedElements = document.querySelectorAll('.advanced');

                        if (isChecked) {
                            advancedElements.forEach(advancedElement => {
                                advancedElement.style.display = advancedElement.dataset.display;
                            });
                        } else {
                            advancedElements.forEach(advancedElement => {
                                advancedElement.dataset.display = advancedElement.style.display;
                                advancedElement.style.display = 'none';
                            });
                        }
                    });
                    document.getElementById('advancedToggle').dispatchEvent(new Event('change'));
                </script>
                
                <details>
                    <style>
                        /* variable for glow colour: */
                        :root {
                            --glow-color: #fffb00;
                        }
                        .informationStyle {
                            /* make it so it has a strong glow around the text of itself using --glow-color: */
                            text-shadow: 0 0 10px var(--glow-color), 0 0 20px var(--glow-color), 0 0 40px var(--glow-color), 0 0 80px var(--glow-color), 0 0 120px var(--glow-color);
                        }
                    </style>
                    <summary class="informationStyle">Click Here for information on how to use it!</summary>
                    <ul>
                        <li>Advanced Mode: This enables the advanced mode which enables more options for the image generator!</li><br>
                        <li>Prompt: Enter a descriptive and clear text prompt that outlines what you want to generate. Be as specific as possible to get the best results & be sure to use the autocomplete dropdown!</li><br>
                        <li>Negative Prompt: If there are elements you want to avoid in your image, specify them here, Here is a recommended one!</li><br>
                        <a>worst quality, low quality, watermark, signature, bad anatomy, bad hands, deformed limbs, blurry, cropped, cross-eyed, extra arms, extra legs, extra limbs, extra pupils, bad proportions, poorly drawn hands, simple background, bad background, bad lighting, bad perspective,</a>
                        <br><br>
                        <li>Model: Select the model you want to use, the default is the furry model which can generate, anime human, anime and furry images, also realistic images too!</li><br>
                        <li>Aspect Ratio: Change the aspect ratio of the image from a square, to portrait or landscape!</li><br>
                        <li>Style Lora's: Select the style lora's you want to use, these will be used to generate the image!</li><br>
                        <li>Effect Lora's: Select the effect lora's you want to use, these will be used to generate the image!</li><br>
                        <li>Concept Lora's: Select the concept lora's you want to use, these will be used to generate the image!</li><br>
                        <li>Clothing Lora's: Select the clothing lora's you want to use, these will be used to generate the image!</li><br>
                        <li>Character Lora's: Select the character lora's you want to use, these will be used to generate the image!</li><br>
                        <li>Pose Lora's: Select the pose lora's you want to use, these will be used to generate the image!</li><br>
                        <li>Background Lora's: Select the background lora's you want to use, these will be used to generate the image!</li><br>
                        <li>Steps: This controls the number of steps the diffusion process will take. A higher number of steps can result in more detailed images but may take longer to generate.</li><br>
                        <li>Quantity: This controls the number of images the image API should generate, the more the slower!</li><br>
                        <li>img2img: This enables the img2img process, this will generate an image from an uploaded image. This can be used to generate images of specific characters or poses!</li><br>
                        <li>img2img Strength: This controls the strength of the img2img process, a higher number will result in a more accurate image but may result in a less accurate image.</li><br>
                        <li>Inpainting: This enables the inpainting process where you can paint over an image to remove or add elements to/from it!</li><br>
                        <li>Inpainting "Use Original Model": This enables the inpainting process to use the model selected in the model dropdown, otherwise it will use an inpainting specific model!</li><br>
                        <li>CFG: This controls the amount of control the AI has over the image, a higher number will result in more control but may result in a less accurate image.</li><br>
                        <li>Seed: This controls the seed used for the image generation, a seed of -1 will generate a random seed.</li><br>
                        <li>Generate Image: Click this button to generate your image!</li><br>
                    </ul>
                </details>

                <div id="autocomplete-space"></div>

                <details open>
                    <summary>Prompt & Negative Prompt</summary>
                        <div class="form-control">
                            <!-- make the label and span on the same line -->
                            <!-- <label for="prompt">Prompt: <span id="promptWordCount">(70)</span></label> -->
                            <a for="prompt">Prompt: <a id="promptWordCount">(70)</a></a>
                            <br>

                            <textarea id="prompt" name="prompt" rows="4" required><%= promptValue %></textarea>
                        </div>

                        <!-- <div class="form-control">
                            <label for="enhance_prompt">Enhance Prompt:</label>
                            <input type="checkbox" id="enhance_prompt" name="enhance_prompt">
                        </div> -->

                        <div class="form-control">
                            <a for="negativeprompt">Negative Prompt: <a id="negativePromptWordCount">(70)</a></a>
                            <textarea id="negativeprompt" name="negativeprompt" rows="4"><%=negativePromptValue%></textarea>
                        </div>

                </details>

                <details open>
                    <summary>Aspect Ratio & Model</summary>
                    <div class="form-control">
                        <label for="aspectRatio">Aspect Ratio:</label>
                        <select id="aspectRatio" name="aspectRatio" value="Square">
                            <option value="Square">Square (512 x 512)</option>
                            <option value="Portrait">Portrait (512 x 768)</option>
                            <option value="Landscape">Landscape (768 x 512)</option>
                        </select>
                    </div>

                    <script>
                        // get the aspectRatio select element
                        const aspectRatioSelect = document.getElementById('aspectRatio')
                        const aspectRatioValue = '<%=aspectRatioValue%>'

                        for (let i = 0; i < aspectRatioSelect.options.length; i++) {
                            const option = aspectRatioSelect.options[i]
                            if (option.value === aspectRatioValue) {
                                option.selected = true;
                            }
                        }
                    </script>
    
    
                    <div class="form-control">
                        <label for="model">Model:</label>
                        <select id="model" name="model">
                            <option value="furry">Default - Furry Vixens (Anime, Human & Furry)</option>
                            <option value="sonic">SonicDiffusion (Sonic the Hedgehog)</option>
                            <option value="aing">AingDiffusion (Anime)</option>
                            <option value="flat2DAnimerge">flat2DAnimerge (Anime)</option>
                            <option value="realisticVision">realisticVision (Realstic)</option>
                        </select>
    
                        <script>
                            // get the model select element
                            const modelSelect = document.getElementById('model')
                            const modelValue = '<%=modelValue%>'
    
                            for (let i = 0; i < modelSelect.options.length; i++) {
                                const option = modelSelect.options[i]
                                if (option.value === modelValue) {
                                    option.selected = true;
                                }
                            }
                        </script>
                    </div>
                </details>

                
                <div class="advanced">
                    <div></div>
                    <div></div>
                    <!-- by default should be expanded -->
                    <details>
                        <summary>Loras (<span id="totalLorasSelected"></span>/<span id="totalLoras"></span>)</summary>
                            <!-- search through loras and only show filtered ones -->
                            <!-- lora search -->
                            <div class="form-control">
                                <label for="loraSearch">Lora Search:</label>
                                <input type="text" id="loraSearch" name="loraSearch" placeholder="Search for a lora...">
                            </div>
                        <div class="imagesContainer">
                            <!-- style-lora-count / style-lora-total -->
                            <div class="form-control">
                                <a for="style-lora">Style Lora's <span id="style-lora-summary"></span></a>
                                <% if (data.style) { %>
                                    <select class="loraSelection" id="style-lora" name="style-lora" multiple>
                                        <% Object.entries(data.style).forEach(([key, value]) => { %>
                                            <option value="<%= key %>" <%= selectedLoras.style.includes(key) ? 'selected' : '' %>><%= value.name || key %></option>
                                        <% }); %>
                                    </select>
                                <% } %>
                            </div>

                            <div class="form-control">
                                <a for="effect-lora">Effect Lora's <span id="effect-lora-summary"></span></a>
                                <% if (data.effect) { %>
                                    <select class="loraSelection" id="effect-lora" name="effect-lora" multiple>
                                        <% Object.entries(data.effect).forEach(([key, value]) => { %>
                                            <option value="<%= key %>" <%= selectedLoras.effect.includes(key) ? 'selected' : '' %>><%= value.name || key %></option>
                                        <% }); %>
                                    </select>
                                <% } %>
                            </div>

                            <div class="form-control">
                                <a for="concept-lora">Concept Lora's <span id="concept-lora-summary"></span></a>
                                <% if (data.concept) { %>
                                    <select class="loraSelection" id="concept-lora" name="concept-lora" multiple>
                                        <% Object.entries(data.concept).forEach(([key, value]) => { %>
                                            <option value="<%= key %>" <%= selectedLoras.concept.includes(key) ? 'selected' : '' %>><%= value.name || key %></option>
                                        <% }); %>
                                    </select>
                                <% } %>
                            </div>

                            <div class="form-control">
                                <a for="clothing-lora">Clothing Lora's <span id="clothing-lora-summary"></span></a>
                                <% if (data.clothing) { %>
                                    <select class="loraSelection" id="clothing-lora" name="clothing-lora" multiple>
                                        <% Object.entries(data.clothing).forEach(([key, value]) => { %>
                                            <option value="<%= key %>" <%= selectedLoras.clothing.includes(key) ? 'selected' : '' %>><%= value.name || key %></option>
                                        <% }); %>
                                    </select>
                                <% } %>
                            </div>

                            <div class="form-control">
                                <a for="character-lora">Character Lora's <span id="character-lora-summary"></span></a>
                                <% if (data.character) { %>
                                    <select class="loraSelection" id="character-lora" name="character-lora" multiple>
                                        <% Object.entries(data.character).forEach(([key, value]) => { %>
                                            <option value="<%= key %>" <%= selectedLoras.character.includes(key) ? 'selected' : '' %>><%= value.name || key %></option>
                                        <% }); %>
                                    </select>
                                <% } %>
                            </div>

                            <div class="form-control">
                                <a for="pose-lora">Pose Lora's <span id="pose-lora-summary"></span></a>
                                <% if (data.pose) { %>
                                    <select class="loraSelection" id="pose-lora" name="pose-lora" multiple>
                                        <% Object.entries(data.pose).forEach(([key, value]) => { %>
                                            <option value="<%= key %>" <%= selectedLoras.pose.includes(key) ? 'selected' : '' %>><%= value.name || key %></option>
                                        <% }); %>
                                    </select>
                                <% } %>
                            </div>

                            <div class="form-control">
                                <a for="background-lora">Background Lora's <span id="background-lora-summary"></span></a>
                                <% if (data.background) { %>
                                    <select class="loraSelection" id="background-lora" name="background-lora" multiple>
                                        <% Object.entries(data.background).forEach(([key, value]) => { %>
                                            <option value="<%= key %>" <%= selectedLoras.background.includes(key) ? 'selected' : '' %>><%= value.name || key %></option>
                                        <% }); %>
                                    </select>
                                <% } %>
                            </div>

                        </div>


                        <!-- filter loras with the string of: loraSearch: -->
                        <script>
                            // get the loraSearch element
                            const loraSearch = document.getElementById('loraSearch');

                            // get all the loraSelection classes
                            loraSelections = document.querySelectorAll('.loraSelection');

                            // make it so the height is smaller when there are less active loras, and 0 when they have no loras left, also filter out the loras that dont match the search:
                            loraSearch.addEventListener('input', function() {
                                // if the search is empty
                                if (this.value == '') {
                                    // empty

                                }

                                // get the search value
                                const searchValue = this.value.toLowerCase();

                                // loop through each loraSelection
                                loraSelections.forEach(loraSelection => {
                                    // loop through each option in the loraSelection
                                    for (let i = 0; i < loraSelection.options.length; i++) {
                                        // get the option
                                        const option = loraSelection.options[i];

                                        // if the option doesnt match the search value
                                        if (!option.innerText.toLowerCase().includes(searchValue)) {
                                            // hide the option
                                            // if the option is selected keep it visible
                                            if (option.selected) {
                                                option.style.display = 'block';
                                            } else {
                                                option.style.display = 'none';
                                            }
                                        } else {
                                            // show the option
                                            option.style.display = 'block';
                                        }

                                        // update the height of the loraSelection based on the number of options that are visible, maximum of 12rem:
                                        // get the number of visible options
                                        let visibleOptionsCount = 0;
                                        for (let i = 0; i < loraSelection.options.length; i++) {
                                            if (loraSelection.options[i].style.display == 'block') {
                                                visibleOptionsCount++;
                                            }
                                        }
                                        // set the height of the loraSelection
                                        loraSelection.style.height = `${Math.min(visibleOptionsCount * 2.5, 16)}rem`;
                                        // if there are no visible options set the display to none
                                        if (visibleOptionsCount == 0) {
                                            loraSelection.style.display = 'none';
                                        } else {
                                            loraSelection.style.display = 'block';
                                        }

                                    }
                                });
                            });
                            loraSearch.dispatchEvent(new Event('input'));
                            
                        </script>
                    
                    </details>

                    <style>
                        #clearAllLorasButton {
                            width: 100%;
                            background-color: #ff000085; /* Red */
                            border: none;
                            color: white;
                            padding: 15px 32px;
                            text-align: center;
                            text-decoration: none;
                            display: inline-block;
                            font-size: 16px;
                            margin: 4px 2px;
                            cursor: pointer;
                            transition: transform 0.7s, background-color 0.3s; /* Adjust time as needed */
                            transform: scale(1) rotate(0deg); /* Default state */
                            transform-origin: center; /* Ensures the scaling happens from the center */
                        }
                        #clearAllLorasButton:hover {
                            transform: scale(1.08) rotate(1deg); 
                            background-color: #ff0000; /* Red */
                        }
                    </style>

                    <button type="button" id="clearAllLorasButton">Clear All Lora's</button>
                    <br>

                    <!-- calculate the totalLorasSelected and the totalLoras from all the loraSelection classes and display it -->
                    <script>
                        // get all the loraSelection classes
                        const loraSelections = document.querySelectorAll('.loraSelection');

                        // get the totalLorasSelected and totalLoras elements
                        const totalLorasSelected = document.getElementById('totalLorasSelected');
                        const totalLoras = document.getElementById('totalLoras');

                        // get the total number of loras
                        let totalLorasCount = 0;
                         loraSelections.forEach(loraSelection => {
                            totalLorasCount += loraSelection.options.length;
                        });

                        // get the total number of loras selected
                        let totalLorasSelectedCount = 0;

                        // loop through each loraSelection
                        loraSelections.forEach(loraSelection => {
                            // add an event listener for when the selection changes
                            loraSelection.addEventListener('change', function() {
                                // update the totalLorasSelectedCount
                                totalLorasSelectedCount = 0;
                                loraSelections.forEach(loraSelection => {
                                    totalLorasSelectedCount += loraSelection.selectedOptions.length;
                                });

                                // update the totalLorasSelected and totalLoras elements
                                totalLorasSelected.innerText = totalLorasSelectedCount;
                                totalLoras.innerText = totalLorasCount;
                            });
                        });
                    </script>
                    
                    <script>
                        // clear all loras button functionality
                        document.getElementById('clearAllLorasButton').addEventListener('click', function() {
                            // loop through each loraSelection
                            loraSelections.forEach(loraSelection => {
                                // loop through each option in the loraSelection
                                for (let i = 0; i < loraSelection.options.length; i++) {
                                    // set the option to not selected
                                    loraSelection.options[i].selected = false;
                                }
                            });

                            // update the totalLorasSelectedCount
                            totalLorasSelectedCount = 0;
                            loraSelections.forEach(loraSelection => {
                                totalLorasSelectedCount += loraSelection.selectedOptions.length;
                            });

                            // update the totalLorasSelected and totalLoras elements and their <span id="character-lora-count">(5)</span> elements to 0
                            totalLorasSelected.innerText = totalLorasSelectedCount;
                            totalLoras.innerText = totalLorasCount;
                            loraSelections.forEach(loraSelection => {
                                document.getElementById(`${loraSelection.id}`).dispatchEvent(new Event('change'));
                            });



                        });
                    </script>

                </div>

                <script>
                    // Update the count of selected loras when the selection changes
                    // background-lora
                    document.getElementById('background-lora').addEventListener('change', function() {
                        document.getElementById('background-lora-summary').innerText = `(${this.selectedOptions.length}/${this.options.length})`;
                    });
                    document.getElementById('background-lora').dispatchEvent(new Event('change'));

                    // pose-lora
                    document.getElementById('pose-lora').addEventListener('change', function() {
                        document.getElementById('pose-lora-summary').innerText = `(${this.selectedOptions.length}/${this.options.length})`;
                    });
                    document.getElementById('pose-lora').dispatchEvent(new Event('change'));

                    // character-lora
                    document.getElementById('character-lora').addEventListener('change', function() {
                        document.getElementById('character-lora-summary').innerText = `(${this.selectedOptions.length}/${this.options.length})`;
                    });
                    document.getElementById('character-lora').dispatchEvent(new Event('change'));

                    // clothing-lora
                    document.getElementById('clothing-lora').addEventListener('change', function() {
                        document.getElementById('clothing-lora-summary').innerText = `(${this.selectedOptions.length}/${this.options.length})`;
                    });
                    document.getElementById('clothing-lora').dispatchEvent(new Event('change'));

                    // concept-lora
                    document.getElementById('concept-lora').addEventListener('change', function() {
                        document.getElementById('concept-lora-summary').innerText = `(${this.selectedOptions.length}/${this.options.length})`;
                    });
                    document.getElementById('concept-lora').dispatchEvent(new Event('change'));

                    // effect-lora
                    document.getElementById('effect-lora').addEventListener('change', function() {
                        document.getElementById('effect-lora-summary').innerText = `(${this.selectedOptions.length}/${this.options.length})`;
                    });
                    document.getElementById('effect-lora').dispatchEvent(new Event('change'));

                    // style-lora
                    document.getElementById('style-lora').addEventListener('change', function() {
                        document.getElementById('style-lora-summary').innerText = `(${this.selectedOptions.length}/${this.options.length})`;
                    });
                    document.getElementById('style-lora').dispatchEvent(new Event('change'));

                </script>

                <% if (session.loggedIn === undefined || session.loggedIn == false) { %>
                    <input id="maxStepsCountWanted" value=70 min=10 hidden>
                    <input id="maxImageQuantityWanted" value=9 hidden>
                <% } else if (session.accountId == "0") { %>
                    <input id="maxStepsCountWanted" value=150 min=10 hidden>
                    <input id="maxImageQuantityWanted" value=10 hidden>
                <% } else { %>
                    <input id="maxStepsCountWanted" value=70 min=10 hidden>
                    <input id="maxImageQuantityWanted" value=9 hidden>
                <% } %>

                <input name="user-session" id="user-session" value="<%-session.accountId%>" hidden>


                <div class="advanced">
                    <details open>
                        <summary>Settings (Steps, Quanitity & more)</summary>
                        <div class="form-control inline-slider">
                            <label for="steps">Steps:</label>
                            <input type="range" id="steps" name="steps" min="10" max="100" step="1" value="20">
                            <span id="stepsValue" class="range-value">20</span>
                        </div>
        
                        <div class="form-control inline-slider">
                            <label for="quantity">Image Quantity:</label>
                            <input type="range" id="quantity" name="quantity" min="1" max="9" step="1" value="4">
                            <span id="quantityValue" class="range-value">4</span>
                        </div>



                        <details>
                            <summary>(CFG, Seed)</summary>
                            <div class="form-control inline-slider">
                                <label for="cfguidance">CFG:</label>
                                <input type="range" id="cfguidance" name="cfguidance" min="1" max="14" step="0.1" value="5">
                                <span id="cfguidanceValue" class="range-value">5</span>
                            </div>
            
                            <div class="form-control">
                                <label for="seed">Seed: (-1 = random)</label>
                                
                                <input type="number" id="seed" name="seed" min="-18446744073709551614" max="18446744073709551615" value="-1">
            
                            </div>
                        </details>  
                        
                    </details>
                </div>
            
                <details>
                    <summary>Image2Image & Inpainting</summary>
                    <div class="form-control">
                        <label for="img2imgCheckbox">Enable Image2Image:</label>
                        <input type="checkbox" id="img2imgCheckbox" name="img2imgCheckbox">
                    </div>
                    
                    <div class="form-control" id="img2imgControls" style="display: none;">
                        <label for="uploadedImage">Upload Image:</label>
                        <input type="file" id="uploadedImage" name="uploadedImage" accept="image/*">
                    </div>
    
                    <div class="form-control inline-slider" id="img2imgStrengthControl" style="display: none;">
                        <label for="img2imgStrength">img2img Strength:</label>
                        <input type="range" id="img2imgStrength" name="img2imgStrength" min="0" max="100" step="1" value="50">
                        <span id="img2imgStrengthValue" class="range-value">50%</span>
                    </div>
    
                    <!-- inpainting checkbox -->
                    <div class="form-control">
                        <label for="inpaintingCheckbox">Enable Inpainting:</label>
                        <input type="checkbox" id="inpaintingCheckbox" name="inpaintingCheckbox">
                    </div>
                </details>

                <style>
                    .canvas-container {
                        position: relative;
                        max-width: 100%; /* Adjust the max-width as per your layout */
                        margin: auto; /* Center align the container */
                        display: flex;
                        justify-content: center; /* Center horizontally */
                        align-items: center; /* Center vertically */
                    }
                
                    #maskCanvas, #displayCanvas {
                        max-width: 100%; /* This ensures that the canvas doesn't exceed the width of its container */
                        height: auto; /* Maintain the aspect ratio */
                        position: absolute; /* Position the canvases absolutely */
                        top: 0;
                        left: 0;
                        border: 1px solid black;
                    }
                
                    #maskCanvas {
                        z-index: 10; /* Ensures the maskCanvas is on top */
                    }
                
                    #displayCanvas {
                        z-index: 9; /* Below the maskCanvas */
                    }
                </style>

                <div class="form-control" id="inpaintingControls" style="display: none;" >
                    <label for="inpaintingImage">Upload Image:</label>
                    <input type="file" id="imageLoader" name="imageLoader" accept="image/*">

                    <label for="inpaintingOriginalCheckbox">Use Original Model:</label>
                    <input type="checkbox" id="inpaintingOriginalCheckbox">
                    <!-- Pen Size Slider -->
                    <label for="penSize">Pen Size (<span id="penSizeValue">50</span>)</label>
                    <input type="range" id="penSize" min="50" max="200" value="50">
                    
                    <!-- Eraser Toggle -->
                    <label for="eraserToggle">Eraser:</label>
                    <input type="checkbox" id="eraserToggle">
                    <div class="canvas-container">
                        <canvas id="maskCanvas"></canvas>
                        <canvas id="displayCanvas"></canvas>
                    </div>
                    <script src="../scripts/ai-inpainting.js" type="text/javascript"></script>

                    <script>
                        // get the penSize element
                        const penSize = document.getElementById('penSize');

                        // get the penSizeValue element
                        const penSizeValue = document.getElementById('penSizeValue');

                        // add an event listener for when the penSize changes
                        penSize.addEventListener('input', function() {
                            // update the penSizeValue
                            penSizeValue.innerText = this.value;
                        });
                        penSize.dispatchEvent(new Event('input'));
                    </script>

                </div>


            <!-- <script> to make inpaintingCheckbox and img2imgCheckbox exclusive: -->
            <script>
                // get the inpaintingCheckbox and img2imgCheckbox elements
                const inpaintingCheckbox = document.getElementById('inpaintingCheckbox');
                const img2imgCheckbox = document.getElementById('img2imgCheckbox');

                // add an event listener for when the inpaintingCheckbox changes
                inpaintingCheckbox.addEventListener('change', function() {
                    // if the inpaintingCheckbox is checked
                    if (this.checked) {
                        // uncheck the img2imgCheckbox
                        img2imgCheckbox.checked = false;
                        img2imgControls.style.display = 'none';
                    }
                });

                // add an event listener for when the img2imgCheckbox changes
                img2imgCheckbox.addEventListener('change', function() {
                    // if the img2imgCheckbox is checked
                    if (this.checked) {
                        // uncheck the inpaintingCheckbox
                        inpaintingCheckbox.checked = false;
                        inpaintingControls.style.display = 'none';
                    }
                });

            </script>




                <center>
                    <% if (session.loggedIn == false) { %>
                        <p style="color: rgba(255, 255, 255, 0.249)"> Register for up to 150 steps from 50!</p>
                    <% } %>
                    <h2>We are hosting a <a style="color: gold;">$100 AI Contest!</a> Be sure to check the <a href="https://discord.gg/MPnnudQGRa" style="color: #c259ff;">discord</a> for more information!</h2>
                    <!-- <p style="color: rgba(255, 255, 255, 0.8)">(Just be sure to use the ai-generated tag when you upload or else your post will be removed!)</p> -->
                    <br>
                </center>
                
                <div class="form-control">
                    <button type="submit" id="generateButton">Generate Image</button>
                </div>
            </form>

            <div id="additionalInfo"></div><br>
            
            <center>
                <div id="response"></div>
                <div id="queuePosition" style="display: none;">Your position in queue: <span style="color: gold;" id="positionNumber"></span></div>
                <br>
                <div id="imagesContainer" class="imagesContainer"></div>
                
            </center>
        </div>


        <div style="height: 20rem;"></div>

        <!-- Footer Partial -->
        <%- include('../partials/_footerNew'); -%>
        
    </div>

    <div id="imageOverlay" style="display:none;">
        <img id="overlayImage" src="" alt="Enlarged view" />
    </div>    


    <script>

    </script>







    <script>
        document.getElementById('img2imgCheckbox').addEventListener('change', function() {
            const isChecked = this.checked;
            const img2imgControls = document.getElementById('img2imgControls');
            const img2imgStrengthControl = document.getElementById('img2imgStrengthControl');

            if (isChecked) {
                img2imgControls.style.display = 'block';
                img2imgStrengthControl.style.display = 'block';
            } else {
                img2imgControls.style.display = 'none';
                img2imgStrengthControl.style.display = 'none';
            }
        });

        document.getElementById('img2imgStrength').addEventListener('input', function() {
            document.getElementById('img2imgStrengthValue').innerText = this.value + '%';
        });
        document.getElementById('img2imgStrength').dispatchEvent(new Event('input'));

        document.getElementById('cfguidance').addEventListener('input', function() {
            document.getElementById('cfguidanceValue').innerText = `${this.value}/${this.max}`;
        });
        document.getElementById('cfguidance').dispatchEvent(new Event('input'));

        // inpainting checkbox
        document.getElementById('inpaintingCheckbox').addEventListener('change', function() {
            const isChecked = this.checked;
            const inpaintingControls = document.getElementById('inpaintingControls');

            if (isChecked) {
                inpaintingControls.style.display = 'block';
            } else {
                inpaintingControls.style.display = 'none';
            }
        });

    </script>








    <script>
        function updateWordCount() {
            const promptTextarea = document.getElementById('prompt');
            const negativePromptInput = document.getElementById('negativeprompt');

            const promptWordCount = promptTextarea.value.trim().split(/\s+/).filter(word => word !== '').length;
            const negativePromptWordCount = negativePromptInput.value.trim().split(/\s+/).filter(word => word !== '').length;

            const totalWordCount = promptWordCount + negativePromptWordCount;
            const remainingWords = 70 - totalWordCount;

            // Display the total word count
            // display the remaining words to 2 spans: one for the prompt and one for the negative prompt like this: 10 (70)
            document.getElementById('promptWordCount').innerText = `${promptWordCount}`;
            document.getElementById('negativePromptWordCount').innerText = `${negativePromptWordCount}`;

        }

        // Add event listener for input on both the prompt textarea and the negative prompt input
        document.getElementById('prompt').addEventListener('input', updateWordCount);
        document.getElementById('negativeprompt').addEventListener('input', updateWordCount);

        // Initial update
        updateWordCount();
    </script>






    <script>
        document.getElementById('imagesContainer').addEventListener('click', function(event) {
            if (event.target.tagName === 'IMG') {
                showOverlay(event.target.src);
            }
        });

        let currentImageIndex = 0;
        let imagesSrcList = [];

        function showOverlay(src) {
            const overlay = document.getElementById('imageOverlay');
            overlay.style.display = 'flex'; // Change to 'flex' to activate flexbox
            document.getElementById('overlayImage').src = src;
    
            // Disable scrolling on the body
            document.body.style.overflow = 'hidden';
            const overlayImage = document.getElementById('overlayImage');

            overlay.style.display = 'block';
            overlayImage.src = src;
            currentImageIndex = imagesSrcList.indexOf(src);

            // Add event listener for keydown
            document.addEventListener('keydown', handleArrowKeyPress);
        }

        function hideOverlay() {
            const overlay = document.getElementById('imageOverlay');
            overlay.style.display = 'none';
            
            // Enable scrolling
            document.body.style.overflow = '';

            // Remove event listener to prevent interference when overlay is not active
            document.removeEventListener('keydown', handleArrowKeyPress);
        }

        function handleArrowKeyPress(event) {
            if (!imagesSrcList.length) return; // Exit if no images are available

            if (event.key === 'ArrowRight') {
                currentImageIndex = (currentImageIndex + 1) % imagesSrcList.length;
            } else if (event.key === 'ArrowLeft') {
                currentImageIndex = (currentImageIndex - 1 + imagesSrcList.length) % imagesSrcList.length;
            } else {
                return; // Exit if not a left/right arrow key
            }
            document.getElementById('overlayImage').src = imagesSrcList[currentImageIndex];
        }

        // Function to populate imagesSrcList when images are loaded
        function populateImagesSrcList() {
            imagesSrcList = Array.from(document.querySelectorAll('#imagesContainer img')).map(img => img.src);        }

        // Add click event listener to the overlay to hide it when clicked
        document.getElementById('imageOverlay').addEventListener('click', hideOverlay);
    </script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>

    <script>

        document.getElementById('advancedToggle').dispatchEvent(new Event('change'));

    </script>
    
    <script src="../scripts/ai-slider-balancing.js?v20122023"></script>

    <script src="../scripts/ai-form.js?v20122023"></script>
    <script src="../scripts/ai-autocomplete.js?v20122023"></script>
    <script src="../scripts/ai-strength.js?v20122023"></script>
</body>
</html>
