<!DOCTYPE html>
<html>

    <head>
<script>
    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}(p=t.createElement("script")).type="text/javascript",p.async=!0,p.src=s.api_host+"/static/array.js",(r=t.getElementsByTagName("script")[0]).parentNode.insertBefore(p,r);var u=e;for(void 0!==a?u=e[a]=[]:a="posthog",u.people=u.people||[],u.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},u.people.toString=function(){return u.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags getFeatureFlag getFeatureFlagPayload reloadFeatureFlags group updateEarlyAccessFeatureEnrollment getEarlyAccessFeatures getActiveMatchingSurveys getSurveys onSessionId".split(" "),n=0;n<o.length;n++)g(u,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
    posthog.init('phc_D2Q9b1OpM8o89clRN0xvgYGatR9ZUTlqm01awV18yB9',{api_host:'https://app.posthog.com'})
</script>

        <title>Home | NeverSFW.gg</title>

        <meta name="juicyads-site-verification" content="da00b2314e338e83450b5bf9040a1fa6">

        <meta charset="UTF-8">
        <meta name="description" content="A hub for NSFW Images, Videos & Games!">
        <meta name="keywords" content="nsfw, Porn, Hentai, rule34, r34">
        <meta name="author" content="MiningP">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../../betasite.css"></link>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function(){
            toggleButtons()
        })
    </script>

    <script>
        function commentFunction(index,form){
            $(form).submit(function(event) {
                // Prevent the form from submitting normally
                event.preventDefault();
        
                // Get the form data
                var formData = $(this).serialize();
        
                // Send a POST request to the server
                $.ajax({
                    type: 'POST',
                    url: '/artworkComment',
                    data: formData,
                    success: async function(response) {
                        // Handle the server's response
                        formData = formData.split('&')
                        contentId = formData[0].split('=')[1]
                        var commentHtml = ''
                        let accounts = response.accounts
                        response.comments.reverse()
                        await response.comments.forEach(commentDocument => {
                            commentHtml += '<div class="comment">'
                                for( let index = 0; index < accounts.length;) {
                                    account = accounts[index]
                                    if (account.accountId == commentDocument.accountId) { 
                                        let date = new Date(Number(commentDocument.timestamp));
                                        let day = date.getDate().toString().padStart(2, '0');
                                        let month = (date.getMonth() + 1).toString().padStart(2, '0'); // add 1 to adjust for zero-based month index
                                        let year = date.getFullYear();
                                        let hour = date.getHours().toString().padStart(2, '0');
                                        let minute = date.getMinutes().toString().padStart(2, '0');
                                        let formattedDate = `${day}/${month}/${year} ${hour}:${minute}`;
                                        commentHtml += '<a href="https://www.neversfw.gg/user/' + account.username + '" class="comment-details"><img class="home-profile-avatar" src="https://www.neversfw.gg/ugc/avatar/' + account.avatarUrl + '" width="32px" height="32px" loading="lazy">' + account.username + ' - ' + formattedDate + '</a>'
                                        commentHtml += '<p>' + commentDocument.comment + '</p>'
                                        index = accounts.length +1 
                                    }
                                    index++
                                }
                            
                            

                            commentHtml += '</div>';
                        })
                        commentHtml += '</div>';
                        
                        
                        // Insert the new comment into the DOM
                        const contentDiv = document.getElementById('contentComments'+contentId)
                        contentDiv.classList.remove('hidden');
                        $('#contentComments'+contentId).html(`${commentHtml}`);
                        $('#contentCommentsCount'+contentId).html(`${response.count}`);
                        $('#commentBox'+contentId).val(``);
                        setTimeout(() => {
                            $('#commentBox'+contentId).attr("placeholder", "Send Comment...");
                        }, 2000);
                        $('#commentBox'+contentId).attr("placeholder", "Sent Comment!");

                    }
                });
            });
        }
        function likeFunction(index,form){
            $(form).submit(function(event) {
                // Prevent the form from submitting normally
                event.preventDefault();
        
                // Get the form data
                var formData = $(this).serialize();

                console.log(formData)
        
                // Send a POST request to the server
                $.ajax({
                    type: 'POST',
                    url: '/artworkLike',
                    data: formData,
                    success: function(response) {
                        // Handle the server's response
                        formData = formData.split('&')
                        contentId = formData[0].split('=')[1]
                        $('#contentLikes'+contentId).html(`${response.likes}`);
                    }
                });
            });
        }
    </script>

        <script>
            $(document).ready(function() {
                $('.likeForm').each(function(index, form) {
                    if (!$(form).data('submitEventBound')) {
                        likeFunction(index, form)
                        $(form).data('submitEventBound', true);
                    }
                });
            });
        </script>

        <script>
            $(document).ready(function() {
                $('.commentForm').each(function(index, form) {
                    if (!$(form).data('submitEventBound')) {
                        commentFunction(index, form)
                        $(form).data('submitEventBound', true);
                    }
                });
            });
        </script>



    <!-- SHOW MORE FORM SCRIPT NEW -->
    <!-- Importing Show More Script -->
    <script type="text/javascript" src="https://www.neversfw.gg/scripts/showMore.js"></script>

    <script>
        var isLoadingContent = false;
        var pageTypes = [
            { name: 'homeRecent', valid: true },
            { name: 'homePopular', valid: true },
            { name: 'homeFollowing', valid: true },
            { name: 'gameHomeRecent', valid: true },
            { name: 'searchArt', valid: true },
            { name: 'searchGame', valid: true },
            { name: 'userArt', valid: true },
            { name: 'userGame', valid: true },
        ];
    </script>

    <script src="../../scripts/showMoreRequest.js"></script>


    <% async function artFunction(name, type) { %>
        <% let shownList = [] %>
            <div id="showMore<%=type%><%=name%>" class="hidden">                  
            </div>
            <div style="display: block; width: 100%;"></div>
            <form id="showMoreForm<%=type%><%=name%>" class="showMoreForm" style="display:inline-flex;">
                <input name="pageType" type="hidden" value="<%=type%><%=name%>">
                <%console.log(type+name)%>
                <input id="contentList<%=type%><%=name%>" name="contentList" type="hidden" value=<%=shownList%>>
            </form>
    <% } %>
    

    <% async function gameFunction(name, type) { %>
        <% let shownList = [] %>
        <div id="showMore<%=type%><%=name%>" class="hidden">                  
        </div>
        <div style="display: block; width: 100%;"></div>
        <form id="showMoreForm<%=type%><%=name%>" class="showMoreForm" style="display:inline-flex;">
            <input name="pageType" type="hidden" value="<%=type%><%=name%>">
            <input id="contentList<%=type%><%=name%>" name="contentList" type="hidden" value=<%=shownList%>>
        </form>
    <% } %>





    <body>

        <%- include('../../partials/_floatAdvert'); -%>

        <div class="page-sidebar">
            <%- include('../../partials/_sideNav'); -%>
        </div>

        <div class="page-left" style="margin-top: 22rem;">
            <%- include('../../partials/_towerAdvert'); -%>
        </div>

        <div>
            <center>
                
                <img src="https://www.neversfw.gg/nsfwlogobanner.png" class="neversfw-banner">
                <br>
                <br>
                    <%- include('../../partials/_bannerAdvert'); -%>
                
                <br><br>
                <%- include('../../partials/_mobileNavigation'); -%>

                
            </center>
        </div>

        <div class="page-right" style="min-height: 100vh; max-height: 100%;">


            <div class="round-frosted" style="padding: 20px;">

                <div class="tabs">
                    <button class="tablinks active" onclick="openTab(event, 'art')">Art</button>
                    <button class="tablinks" onclick="openTab(event, 'games')">Games</button>
                </div>
                
                <div id="art" class="tabcontent" style="display: block; justify-content: center;">
    
                    <div class="subtabs">
                        <button class="subtablinks active" onclick="openSubtab(event, 'recent')">Recent</button>
                        <button class="subtablinks" onclick="openSubtab(event, 'hottest')">Hottest</button>
                    </div>
    
                    <div id="recent" class="subtabcontent" style="display: block;">
                        <% artFunction('Recent','home') %>
                    </div>
    
                    <div id="hottest" class="subtabcontent" style="display: none;">
                        <% artFunction('Popular','home') %>
                    </div>
    
                </div>
                
    
    
                <div id="games" class="tabcontent" style="display: none;">
                    <% gameFunction('Recent','gameHome') %>
                </div>

            </div>




            <script>
                var tabToPageType = {
                    recent: 'homeRecent',
                    hottest: 'homePopular',
                    games: 'gameHomeRecent',
                };
                var activeTabToSet = 'recent'
            </script>

            <script src="../../scripts/tabsShowMore.js"></script>
    
        </div>
        
        
        






        <script>
            function toggleButtons() {
                console.log(`ran: toggleButtons`);
                const toggleButtons = document.querySelectorAll('.toggle-comments-button');
                toggleButtons.forEach(button => {
                    if (!button.hasAttribute('data-clicked')) {
                        button.setAttribute('data-clicked', 'true');

                        const toggleComments = () => {
                            const content = button.nextElementSibling;
                            content.classList.toggle('hidden');
                        };

                        button.removeEventListener('click', toggleComments);
                        button.addEventListener('click', toggleComments);
                    }
                });
            }
        </script>

        <!-- Footer Partial -->
        <%- include('../../partials/_footerNew'); -%>

    </body>

</html>
