<!DOCTYPE html>
<html>

    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-FFEW0Y6QFQ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-FFEW0Y6QFQ');
        </script>

        <title>Home | NeverSFW.gg</title>

        <meta name="juicyads-site-verification" content="da00b2314e338e83450b5bf9040a1fa6">

        <meta charset="UTF-8">
        <meta name="description" content="A hub for NSFW Images, Videos & Games!">
        <meta name="keywords" content="nsfw, Porn, Hentai, rule34, r34">
        <meta name="author" content="MiningP">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://www.neversfw.gg/betasite.css"></link>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function(){
            toggleButtons()
        })
    </script>

    <script>
        function commentFunction(index,form){
            $(form).submit(function(event) {
                // Prevent the form from submitting normally
                event.preventDefault();
        
                // Get the form data
                var formData = $(this).serialize();
        
                // Send a POST request to the server
                $.ajax({
                    type: 'POST',
                    url: '/artworkComment',
                    data: formData,
                    success: async function(response) {
                        // Handle the server's response
                        formData = formData.split('&')
                        contentId = formData[0].split('=')[1]
                        var commentHtml = ''
                        let accounts = response.accounts
                        response.comments.reverse()
                        await response.comments.forEach(commentDocument => {
                            commentHtml += '<div class="comment">'
                                for( let index = 0; index < accounts.length;) {
                                    account = accounts[index]
                                    if (account.accountId == commentDocument.accountId) { 
                                        let date = new Date(Number(commentDocument.timestamp));
                                        let day = date.getDate().toString().padStart(2, '0');
                                        let month = (date.getMonth() + 1).toString().padStart(2, '0'); // add 1 to adjust for zero-based month index
                                        let year = date.getFullYear();
                                        let hour = date.getHours().toString().padStart(2, '0');
                                        let minute = date.getMinutes().toString().padStart(2, '0');
                                        let formattedDate = `${day}/${month}/${year} ${hour}:${minute}`;
                                        commentHtml += '<a href="https://www.neversfw.gg/user/' + account.username + '" class="comment-details"><img class="home-profile-avatar" src="https://www.neversfw.gg/ugc/avatar/' + account.avatarUrl + '" width="32px" height="32px">' + account.username + ' - ' + formattedDate + '</a>'
                                        commentHtml += '<p>' + commentDocument.comment + '</p>'
                                        index = accounts.length +1 
                                    }
                                    index++
                                }
                            
                            

                            commentHtml += '</div>';
                        })
                        commentHtml += '</div>';
                        
                        
                        // Insert the new comment into the DOM
                        const contentDiv = document.getElementById('contentComments'+contentId)
                        contentDiv.classList.remove('hidden');
                        $('#contentComments'+contentId).html(`${commentHtml}`);
                        $('#contentCommentsCount'+contentId).html(`${response.count}`);
                        $('#commentBox'+contentId).val(``);
                        setTimeout(() => {
                            $('#commentBox'+contentId).attr("placeholder", "Send Comment...");
                        }, 2000);
                        $('#commentBox'+contentId).attr("placeholder", "Sent Comment!");

                    }
                });
            });
        }
        function likeFunction(index,form){
            $(form).submit(function(event) {
                // Prevent the form from submitting normally
                event.preventDefault();
        
                // Get the form data
                var formData = $(this).serialize();

                console.log(formData)
        
                // Send a POST request to the server
                $.ajax({
                    type: 'POST',
                    url: '/artworkLike',
                    data: formData,
                    success: function(response) {
                        // Handle the server's response
                        formData = formData.split('&')
                        contentId = formData[0].split('=')[1]
                        $('#contentLikes'+contentId).html(`${response.likes}`);
                    }
                });
            });
        }
    </script>

        <script>
            $(document).ready(function() {
                $('.likeForm').each(function(index, form) {
                    if (!$(form).data('submitEventBound')) {
                        likeFunction(index, form)
                        $(form).data('submitEventBound', true);
                    }
                });
            });
        </script>

        <script>
            $(document).ready(function() {
                $('.commentForm').each(function(index, form) {
                    if (!$(form).data('submitEventBound')) {
                        commentFunction(index, form)
                        $(form).data('submitEventBound', true);
                    }
                });
            });
        </script>



    <!-- SHOW MORE FORM SCRIPT NEW -->
    <!-- Importing Show More Script -->
    <script type="text/javascript" src="https://www.neversfw.gg/scripts/showMore.js"></script>

    <script>
        $(document).ready(function() {
            $('.showMoreForm').each(function(index, form) {
                $(form).submit(function(event) {
                    // Prevent the form from submitting normally
                    event.preventDefault();
            
                    // Get the form data
                    var formData = $(this).serialize();

                    let searchTerm = $('input[name="searchTerm"]').val()
                    formData = (formData + `&searchTerm=${searchTerm}`)

                    let accountId = $('input[name="accountId"]').val()
                    formData = (formData + `&accountId=${accountId}`)
            
                    // Send a POST request to the server

                    console.log(formData)

                    $.ajax({
                        type: 'POST',
                        url: '/showMore',
                        data: formData,


                        success: async function(response) {
                            // Handle the server's response
                            formData = formData.split('&')
                            console.log(response)
                            let newContentList = response.newContentList
                            var showMoreHtml = ''
                            let accounts = response.accounts
                            let showMoreAggregate = response.responseAggregate
                            let session = response.session

                            if(response.pageType == "homePopular") {
                                await artShowMoreFunction(session, showMoreAggregate, accounts, showMoreHtml, newContentList, 'contentListhomePopular', 'showMorehomePopular')
                            }

                            if(response.pageType == "homeRecent") {
                                await artShowMoreFunction(session, showMoreAggregate, accounts, showMoreHtml, newContentList, 'contentListhomeRecent', 'showMorehomeRecent')
                            }

                            if(response.pageType == "homeFollowing") {
                                await artShowMoreFunction(session, showMoreAggregate, accounts, showMoreHtml, newContentList, 'contentListhomeFollowing', 'showMorehomeFollowing')
                            }

                            if(response.pageType == "gameHomeRecent") {
                                await gameShowMoreFunction(session, showMoreAggregate, accounts, showMoreHtml, newContentList, 'contentListgameHomeRecent', 'showMoregameHomeRecent')
                            }

                            if(response.pageType == "searchArt") {
                                await artShowMoreFunction(session, showMoreAggregate, accounts, showMoreHtml, newContentList, 'contentListsearchArt', 'showMoresearchArt')
                            }

                            if(response.pageType == "searchGame") {
                                await gameShowMoreFunction(session, showMoreAggregate, accounts, showMoreHtml, newContentList, 'contentListsearchGame', 'showMoresearchGame')
                            }

                            if(response.pageType == "userArt") {
                                await artShowMoreFunction(session, showMoreAggregate, accounts, showMoreHtml, newContentList, 'contentListuserArt', 'showMoreuserArt')
                            }

                            if(response.pageType == "userGame") {
                                await gameShowMoreFunction(session, showMoreAggregate, accounts, showMoreHtml, newContentList, 'contentListuserGame', 'showMoreuserGame')
                            }
                            

                            $('.commentForm').each(function(index, form) {
                                if (!$(form).data('submitEventBound')) {
                                    commentFunction(index, form)
                                    $(form).data('submitEventBound', true);
                                }
                            });

                            $('.likeForm').each(function(index, form) {
                                if (!$(form).data('submitEventBound')) {
                                    likeFunction(index, form)
                                    $(form).data('submitEventBound', true);
                                }
                            });

                            toggleButtons()

                        }
                    });
                });
            });
        });
    </script>

    <% async function artFunction(name, type) { %>
        <% let shownList = [] %>
        <center>
            <div id="showMore<%=type%><%=name%>" class="hidden">                  
            </div>
            <div style="display: block; width: 100%;"></div>
            <form id="showMoreForm<%=type%><%=name%>" class="showMoreForm" style="display:inline-flex;">
                <input name="pageType" type="hidden" value="<%=type%><%=name%>">
                <%console.log(type+name)%>
                <input id="contentList<%=type%><%=name%>" name="contentList" type="hidden" value=<%=shownList%>>
            </form>
        </center>
    <% } %>
    

    <% async function gameFunction(name, type) { %>
        <% let shownList = [] %>
        <div id="showMore<%=type%><%=name%>" class="hidden">                  
        </div>
        <div style="display: block; width: 100%;"></div>
        <form id="showMoreForm<%=type%><%=name%>" class="showMoreForm" style="display:inline-flex;">
            <input name="pageType" type="hidden" value="<%=type%><%=name%>">
            <input id="contentList<%=type%><%=name%>" name="contentList" type="hidden" value=<%=shownList%>>
        </form>
    <% } %>





    <body>

        <%- include('../../partials/_popunder'); -%>

        <div class="page-sidebar">
            <%- include('../../partials/_sideNav'); -%>
        </div>

        <div class="page-left" style="margin-top: 22rem;">
            <%- include('../../partials/_towerAdvert'); -%>
        </div>

        <div>
            <center>
                
                <img src="https://www.neversfw.gg/nsfwlogobanner.png" style="width: 50%; height: auto;">
                <br>
                <br>
                    <%- include('../../partials/_bannerAdvert'); -%>
                
                <br><br>
                <%- include('../../partials/_mobileNavigation'); -%>

                
            </center>
        </div>

        <div class="page-right" style="min-height: 100vh; max-height: 100%;">

            <div class="tabs">
                <button class="tablinks active" onclick="openTab(event, 'art')">Art</button>
                <button class="tablinks" onclick="openTab(event, 'games')">Games</button>
            </div>
            
            <div id="art" class="tabcontent" style="display: block;">

                <div class="subtabs">
                    <button class="subtablinks active" onclick="openSubtab(event, 'recent')">Recent</button>
                    <button class="subtablinks" onclick="openSubtab(event, 'hottest')">Hottest</button>
                </div>

                <div id="recent" class="subtabcontent" style="display: block;">
                    <% artFunction('Recent','home') %>
                </div>

                <div id="hottest" class="subtabcontent" style="display: none;">
                    <% artFunction('Popular','home') %>
                </div>

            </div>
            


            <div id="games" class="tabcontent" style="display: none;">
                <% gameFunction('Recent','gameHome') %>
            </div>
            
            <script>

                showMoreCount = 0

                // Global variable to store the active tab
                var activeTab = '';

                // Function to update the active tab
                function updateActiveTab(tabName) {
                activeTab = tabName;
                }

                var formSubmitted = false; // Variable to track if the form has been submitted
                var cooldownDuration = 3000; // Cooldown duration in milliseconds (adjust as needed)
                var cooldownTimeout = null; // Variable to store the cooldown timeout ID
                var intervalDuration = 300; // Interval duration in milliseconds (adjust as needed)
                var intervalID = null; // Variable to store the interval ID

                intervalID = setInterval(function() {

                    if(showMoreCount >= 1) {
                        cooldownDuration = 1000
                    }

                    var offset = 2000; // Adjust the offset value as needed

                    // Check if the user has scrolled close to the bottom of the page
                    if ($(window).scrollTop() + $(window).height() >= $(document).height() - offset) {
                    // Trigger form submission if not in cooldown period
                    if (!formSubmitted) {
                        switch(activeTab) {

                    case 'recent':
                        $('#showMoreFormhomeRecent').submit();
                        formSubmitted = true
                        showMoreCount++
                    break;

                    case 'hottest':
                        $('#showMoreFormhomePopular').submit();
                        formSubmitted = true
                        showMoreCount++
                    break;

                    case 'games':
                        $('#showMoreFormgameHomeRecent').submit();
                        formSubmitted = true
                        showMoreCount++
                    break;

                    }
                    cooldownTimeout = setTimeout(function() {
                    formSubmitted = false
                    }, cooldownDuration)
                    }
                    }
                }, intervalDuration);


                // Rest of your existing code for tab switching...

                function openTab(evt, tabName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(tabName).style.display = "block";
                evt.currentTarget.className += " active";

                // Update the active tab
                updateActiveTab(tabName);
                }

                function openSubtab(evt, subtabName) {
                var i, subtabcontent, subtablinks;
                subtabcontent = document.getElementsByClassName("subtabcontent");
                for (i = 0; i < subtabcontent.length; i++) {
                    subtabcontent[i].style.display = "none";
                }
                subtablinks = document.getElementsByClassName("subtablinks");
                for (i = 0; i < subtablinks.length; i++) {
                    subtablinks[i].className = subtablinks[i].className.replace(" active", "");
                }
                document.getElementById(subtabName).style.display = "block";
                evt.currentTarget.className += " active";

                // Update the active tab
                updateActiveTab(subtabName);
                }

                if(activeTab == '') {
                    activeTab = 'recent'
                }

            </script>
    
        </div>
        
        
        






        <script>
            function toggleButtons() {
                console.log(`ran: toggleButtons`);
                const toggleButtons = document.querySelectorAll('.toggle-comments-button');
                toggleButtons.forEach(button => {
                    if (!button.hasAttribute('data-clicked')) {
                        button.setAttribute('data-clicked', 'true');

                        const toggleComments = () => {
                            const content = button.nextElementSibling;
                            content.classList.toggle('hidden');
                        };

                        button.removeEventListener('click', toggleComments);
                        button.addEventListener('click', toggleComments);
                    }
                });
            }
        </script>

        <!-- Footer Partial -->
        <%- include('../../partials/_footerNew'); -%>

    </body>

</html>
